@import 'css/reset.css';
@import 'css/navigation.css';
@import 'css/transitions.css';
@import 'css/typography.css';
@import 'css/layout.css';
@import 'css/forms.css';
@import 'css/colours.css';

.hilite > div {
    background: #eff5fc;
    color: #7a9abe;
    padding: 20px 25px;
    text-align: center;
    
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255,255,255,.2);
}